.card-body {
    height: 450px;
    font-size: small;


}

.cardImg {

    width: 243px;
    height: 160px
}


@media only screen and (max-width: 600px) {
    .service-detail {
        display: none;

    }

    .title {
        font-size: medium;
    }


    .card-body {
        height: 300px;
    }
}